[mysqld]
pid_file          = /var/lib/mysql/mysql.pid
log_error         = /var/lib/mysql/error.log
log_warnings      = 2

# General logging has huge performance penalty therefore is disabled by default
general_log       = off
general_log_file  = /var/lib/mysql/error.log
