#
# Pre-configured FastCGI cache.
# It's not used until specified in location {} context.
#
# Usage: rename this file to fastcgi-cache.conf
# and your vhost config add something like this:
# location ~ \.php$ {
#   include               fastcgi_params;
#   fastcgi_pass          php-upstream;
#   fastcgi_cache         APPCACHE;
#   fastcgi_cache_valid   60m;
# }
#
# To achieve best performance, mount /run (or /var/run) 
# which is usually tmpfs memory drive, into your docker container:
# docker run ... -v /run/user/my-container:/run/user ...
#
fastcgi_cache_path      /run/user/nginx-cache levels=1:2 keys_zone=APPCACHE:10m inactive=120m;
fastcgi_temp_path       /run/user/nginx-cache-tmp;
fastcgi_cache_key       "$scheme$request_method$host$request_uri";
fastcgi_cache_use_stale error timeout invalid_header http_500;
fastcgi_ignore_headers  Cache-Control Expires Set-Cookie;
fastcgi_cache_lock      on;
